@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap");
@font-face {
    font-family: 'Vag';
    src: url("fonts/vag.TTF");
}

$teal: #38A89C;
$grey:#5C5E5D;
$red:#941a1b;
$blue: #deeaf6;

body {
    font-family: 'Roboto', sans-serif;
    background-color: #e4e4e4;
    color:#4c4c4c;
}

.button{
    background-color: #38A89C;
    display: block;
    color:white;
    font-size: 20px;
    border-radius: 10px;
    text-decoration: none;
    padding:20px;
    margin-top:20px;
    text-align: center;
}

h1{
    color:$teal;
    margin-top:0;
    margin-bottom: 0;
    padding-left:10px;
    
}

table{
    background-color: white;
}

.aoc{
    background-color: white;
    padding:25px;
}

hr{
    border-top:3px solid $teal;
    margin-bottom:20px;
}

h2{
    color:white;
    background-color: $red;
    padding:10px;
    font-size: 22px;
    margin:0;
    margin-bottom: 10px;
}

h3{
    margin:0;
}

h4{
    margin-top: 0;
    margin-bottom: 20px;
}


.qr{
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:40px;
}

#footer{
    h2{
        background-color: #e4e4e4;
        color:$teal;
        padding:0;
    }
    img{
        margin-bottom: 20px;
    }
    background-color: #e4e4e4;
    
}
#footer-td{
    background-color:#e4e4e4 ;
}

#contact-heading{
    margin:0;
}

td{
    max-width: 600px;
}

#icmeLogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:400px;
}

#details{
    margin-top:0;
}

#details-p{
    text-align: center;
    margin-top: 0px;
}




#sponsor-td{
    background-color:#3d3d3d ;
}

#sponsors{
    margin:0;
}

a{
    color:$teal;
}